/* this is externel css stylesheet */
a[target]{
    background-color: yellow;
}

#firstname{
    background-color: yellow;
}

*{
    color : black;
}
/* Responsiveness       /* make your website friendly for multiple devices */


@media (width: 360px) {
div {
color: red;
}
}

@font-face {
font-family: myFirstFont;
src: url(Sansation_Regular.ttf);
}

/* Universal Selector (*) */
* {
font-family: myFirstFont;
}

/*Pseudo-class Selector (e.g. p:hover)*/
button:hover {
color: hotpink;
}

button:active{
    color:aqua;
}

p {color:black;}


/*Class Selector (.class)*/
.grid-container {
display: grid;
grid-template-columns: auto auto auto;
background-color: #d46810;
padding: 10px;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}


p.ex1 { 
    display: none;
    max-width: 150px;
    max-height: 150px;
    }
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}

/*Combining Two Selectors (element.class)*/
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #ad4921;
    } 

div.absolute {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #2131ad;
}

div.static {
    position: static;
    border: 3px solid #73AD21;
}
.flex-container {
    display: flex;
    background-color: DodgerBlue;
    }

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}



h2 {
    /* color element */
    color: blueviolet;
    font-size: 20px; 
    width: 500px;
    margin: 25px 10px 10px 20px;
    

}

h3{
    /* color element */
    color:rgb(0,0,0);
    width: 1000vw;
    
}

h4{
    /* color element */
    color:hals(0,0,0,0);
    font-size: 1.3em;
    width: 100mm;
}

h5{
    /* color element */
    color:#000;
    font-size: 1.3rem;

}

body {
    background-color: rgb(140, 223, 234);
}

.box {
    /* borders around html elements, hint: apply borders before testing out 
    padding and margin to better understand the difference between the two */
    border-style: dashed;
    border-color: blue;
    border-radius: 3px;
    border-width:5mm;
    border: 3px solid black;
    padding: 25px;
    display: block;
    list-style: none;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.table{
    border-radius: 5px;
    border-top-right-radius: 1em 10%;
    border: 10px solid rebeccapurple;
    /* spacing within html elements */
    padding-top : 10px;
    padding-right : 25px;
    padding-bottom : 25px;
    padding-left : 25px;
}

.box2 {
    text-decoration: underline overline;
    text-align: center;

    margin-top: 30px;
    /* borders around html elements, hint: apply borders before testing out 
    padding and margin to better understand the difference between the two */
    border-style: dotted;
    border-radius: 5px;
    border-top-right-radius: 1em 10%;
    border: 10px solid rebeccapurple;
    /* spacing within html elements */
    padding-top : 10px;
    padding-right : 25px;
    padding-bottom : 25px;
    padding-left : 25px;
}

p {
    /* spacing between html elements */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
    margin: auto
    
  }

.static{
    margin: 20pt;
}

span {
    background-color: aqua;
  }
  
  /*Combinators*/
  div > span {
    background-color: yellow;
  }


  div + p {
    background-color: yellow;
  }

  div ~ p {
    background-color: yellow;
  }

  div p {
    background-color: rgb(0, 229, 255);
    }